//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;

  background-color: rgba(52,52,52,.45);

  transition: all linear .3s;

  * {
    transition: all linear .3s;
  }

  &.scrolled {
    background-color: $white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);

    .navbar-brand {
      color: $grey;

      @include on-event() {
        color: $grey;
      }
    }

    .nav-link {
      color: $grey;
    }

    .nav-item {
      &:not(:last-child) {
        &:after { 
          color: $grey;
        }
      }
    }

    .fa-brands {
      color: $grey;
    }

    .navbar-toggler {
      .icon-bar {
        background: $grey;
      }
    }
  }

  .navbar-brand {
    position: relative;
    top: -5px;

    margin-right: 58px;

    @include on-event() {
      color: $white;
    }
  }

  .nav-link {
    color: $white;
    font-family: $font-alegreya;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .nav-item {
    position: relative;

    padding: 0 34px;

    &:not(:last-child) {
      &:after {
        content: '~';
    
        position: absolute;
        top: 5px;
        right: -1px;
        z-index: 99;
  
        color: $white;
        font-size: 15px;
      }
    }
  }

  .social-link {
    text-decoration: none;
    
    &:not(:last-child) {
      margin-right: 19px;
    }
  }

  .fa-brands {
    color: $white;
  }

  .navbar-toggler {
    .icon-bar {
      height: 2px;

      background: #fff;
    }

    &[aria-expanded=true] {
      .icon-bar {
        &:first-child {
          transform: rotate(225deg) translate(-3px, -3px);
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1250px) {
  header .nav-item { padding: 0 25px; }
}

@include respond-to("lg-down") {
  header {
    .navbar-brand { margin-right: 25px; }

    .nav-item { padding: 0 15px; }

    .social-link:not(:last-child) { margin-right: 12px; }
  }
}

@include respond-to("md-down") {
  header {
    .nav-item:not(:last-child):after {
      display: none;
    }

    .navbar-collapse {
      padding-top: 15px;
    }

    .navbar-nav {
      padding-bottom: 15px;
    }

    .socials {
      padding-left: 15px;
    }
  }
}
