//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
  
  .section-banner {
    padding: 264px 0 212px;

    text-align: center;

    background-image: url('../../assets/img/banner-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .heading1 {
      margin-bottom: 57px;
    }

    .dashes {
      margin-bottom: 61px;
      width: 189px;
    }

    .subheading1 {
      margin: auto;
      margin-bottom: 64px;
      max-width: 564px;
    }
  }

  .section-cakes {
    padding-bottom: 85px;

    background-image: url('../../assets/img/cakes-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .bullet-wrapper {
      display: flex;
      justify-content: center;

      border-top: 15px solid #fff;
    }

    .border-bullet {
      margin: auto;
      margin-top: -63px;
      width: 105px;
    }

    .row {
      padding: 37px 0;
    }

    .col:first-child {
      text-align: center;
    }

    .heading2,
    .heading3,
    .subheading2 {
      text-align: center;
    }

    .heading2 {
      margin-bottom: 5px;
    }

    .heading3 {
      margin-bottom: 43px;
    }

    .subheading2 {
      margin-bottom: 59px;
    }

    .text1 {
      margin: auto;
      margin-bottom: 34px;
      max-width: 500px;

      text-align: center;
    }

    .text2 {
      padding: 15px 9px;
      margin: 0 26px;
      width: 111px;

      text-align: center;
      
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
    }

    .chef-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }

    .img-chef {
      width: 98px;
    }

    .statement-wrapper {
      position: relative;

      margin: auto;
      width: 410px;

      &:before,
      &:after {
        position: absolute;

        color: $mid-grey;
        font-family: $font-timesnewroman;
        font-size: 64px;
        line-height: 1;
      }

      &:before {
        content: '\201C';

        bottom: 21px;
        left: 0;
      }

      &:after {
        content: '\201D';

        top: 27px;
        right: 0;

        transform: rotate(180deg) scaleX(-1);
      }
    }

    .text3 {
      margin: auto;
      max-width: 300px;

      text-align: center;
    }
  }

  .section-pancakes {
    padding: 100px 0 109px;
    background-image: url('../../assets/img/pancakes-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .slider-wrapper {
      position: relative;

      margin: auto;
      max-width: 965px;
      height: 511px;
    }

    .MainSwiper {
      width: 100%;
      max-width: none;
      height: 100%;

      border: none;
    
      .swiper-slide {
        display: flex;
        padding: 0;
  
        background: transparent;
      }

      .img-wrapper {
        position: relative;

        .ratings-wrapper {
          position: absolute;
          top: calc(50% - 74px);
          left: 31px;
          z-index: 99;
        }

        .fa-star {
          display: block;

          color: $white;

          &:not(:last-child) {
            margin-bottom: 12px;
          }
        } 
      }
  
      .text-wrapper {
        flex: 0 0 57%;
        padding: 69px 63px;
        width: 57%;
        height: 100%;
        
        text-align: left;

        background: $white url('../../assets/img/slider-text-bg.png') bottom right;
        background-repeat: no-repeat;
      }

      .heading2 {
        margin-bottom: 5px;
      }

      .subheading2 {
        margin-bottom: 59px;
      }
    }

    .thumbs-wrapper {
      position: absolute;
      bottom: 31px;
      right: calc(585px - 50%);

      .swiper-button-next,
      .swiper-button-prev {
        top: 67%;

        height: 32px;
        width: 32px;

        border: 2px solid $dark-grey;
        border-radius: 50%;

        &:after {
          color: $dark-grey;
          font-size: 12px;
          font-weight: 700;
        }

        &.swiper-button-disabled {
          border-color: $light-brown;

          opacity: 1;

          &:after {
            color: $light-brown
          }
        }
      }

      .swiper-button-next {
        right: -39px;

        &:after {
          margin-left: 3px;
        }
      }

      .swiper-button-prev {
        left: -39px;

        &:after {
          margin-right: 0;
        }
      }
    }
    
    .ThumbsSwiper {
      width: 348px;
      height: 110px;

      border: 0;

      .swiper-slide {
        padding: 10px;

        background: transparent;

        cursor: pointer;
      }
    }
  }

  .section-breakfast {
    position: relative;

    padding: 77px 0 46px;

    background-image: url('../../assets/img/breakfast-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-x: hidden;

    .container {
      display: flex;
    }

    .custom-columns {
      flex: 0 0 50%;

      &:first-child {
        flex: 0 0 41.6667%;
        margin-left: auto;
        text-align: center;
      }
    }

    .heading2 {
      margin-bottom: 0px;

      color: white;
      font-size: 62px;
      letter-spacing: 2px;
    }

    .subheading2 {
      margin-bottom: 59px;

      color: $another-brown;
      font-size: 17px;
    }

    .heading5 {
      margin-bottom: 6px;

      font-size: 29px;
      letter-spacing: 2px;
    }

    .subheading5 {
      margin-bottom: 13px;

      color: $grey-shadows;
    }
    
    .text4 {
      color: $lightest-brown;
      font-size: 35px;
      letter-spacing: 2px;
    }

    .breakfast-menu {
      margin-bottom: 44px;
    }

    .menus {
      position: relative;

      .page-2,
      .page-3 {
        content: '';

        position: absolute;
        top: 50%;
        
        width: 50px;

        transform: translateY(-50%);
      }

      .page-2 {
        right: -13px;
        z-index: 2;

        height: 551px;

        background-color: $weathered-white;
      }

      .page-3 {
        right: -25px;
        z-index: 1;

        height: 504px;

        background-color: $soft-secret;
      }
    }

    .menu-wrapper {
      position: relative;
      z-index: 3;

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 20px 66px;
      margin-left: auto;
      max-width: 440px;

      background-color: $latte;
      // background: rgb(243,241,233);
      // background: linear-gradient(225deg, rgba(243,241,233,1) 91%, rgba(255,255,255,0) 91%);

      &:before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;

        margin: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);

        background: linear-gradient(to right, $dawn 38%, $latte 0%), linear-gradient($dawn 38%, $latte 0%), linear-gradient(to right, $dawn 38%, $latte 0%), linear-gradient($dawn 38%, $latte 0%);
        background-position: top, right, bottom, left;
        background-repeat: repeat-x, repeat-y;
        background-size: 12px 1px, 1px 12px;

        pointer-events: none;
      }

      .wheat-wrapper {
        position: absolute;
        bottom: -68px;
        right: -235px;
        z-index: 100;
  
        pointer-events: none;
      }
    }

    .est-wrapper {
      position: relative;

      display: flex;
      justify-content: space-around;
      padding-bottom: 30px;
      margin-bottom: 92px;
      width: 100%;

      &:before,
      &:after {
        content: '';

        position: absolute;
        bottom: -5.5px;

        width: 11px;
        height: 11px;

        border: 1px solid $grey-roads;
        border-radius: 50%;
      }

      &:before {
        left: 17px;
      }

      &:after {
        right: 17px;
      }

      .pretzel,
      .line {
        position: absolute;
        left: 50%;

        transform: translateX(-50%);
      }

      .pretzel {
        bottom: -30px;

        width: 60px;
      }

      .line {
        content: '';

        bottom: 0;

        width: 86%;
        height: 1px;

        border-bottom: 1px solid $grey-shadows;
      }
    }

    .heading3,
    .text1 {
      max-width: 338px;

      color: $grey;
    }

    .heading3 {
      margin-bottom: 31px;
      
      font-size: 46px;
      line-height: 1.3;
      text-align: center;
    }

    .text1 {
      margin-bottom: 47px;

      font-size: 14px;
      letter-spacing: 0.7px;
      line-height: 2.1;
      text-align: center;
    }

    .text2 {
      color: $grey;
      font-weight: 700;
    }
  }

  .section-jibarito {
    padding-top: 88px;

    background-color: $latte;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .title-wrapper {
      position: relative;

      flex: 0 0 100%;
    }

    .windmill {
      content: url('../../assets/img/windmill.png');

      position: absolute;
      left: 50%;
      bottom: 35px;
      z-index: 1;

      transform: translateX(-50%);
    }

    .heading2,
    .subheading2 {
      position: relative;
      z-index: 2;

      text-align: center;
    }

    .heading2 {
      margin-bottom: 4px;
    }

    .heading5 {
      margin-bottom: 16px;

      color: $brown;
      font-size: 29px;
      letter-spacing: 1px;
    }

    .subheading2 {
      margin-bottom: 0;
    }

    .text1 {
      max-width: 300px;

      line-height: 1.4;
      text-align: center;
    }

    .custom-columns {
      flex: 0 0 25%;

      &:last-child {
        display: flex;
        align-items: center;
        flex: 0 0 66.6667%;
      }
    }

    .ingredient {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 37px;

      img {
        margin-bottom: 19px;
        width: 100px;
      }
    }

    .img-wrapper {
      position: relative;
    }

    .btn-light {
      position: absolute;
      bottom: -18px;
      left: -22px;
    }

    .prep-wrapper {
      top: -23px;
      right: 10px;
    }

    .duration-wrapper {
      &:first-child {
        margin-bottom: 1px;
      }

      &:not(:last-child) {
        padding-top: 45px;

        background: rgba(255, 255, 255, .8);

        .heading4 {
          margin-bottom: 5px;
          
          color: $grey;
          font-size: 59px;
        }

        .subheading3 {
          margin-bottom: 4px;
        }
      }
    }
  }
}


