//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$font-alegreya: 'Alegreya';
$font-playfairdisplay: 'Playfair Display';
$font-proxima-nova: 'Proxima Nova';
$font-scriptina: 'Scriptina';
$font-arial: 'Arial', sans-serif;
$font-timesnewroman: 'Times New Roman', sans-serif;

/// @type List
$text-font-stack: $font-alegreya, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;

/// sites colors
$dark-grey: #5a5750;
$grey: #56534c;
$another-grey: #979285;
$mid-grey: #aaa8a4;
$light-grey: #d7d5ca;
$grey-shadows: #c2beba;
$grey-roads: #c3bfbb;
$dawn: #9e9c93;
$rare-grey: #a6a49b;
$back-grey: #b1afa7;

$latte: #f3f1e9;
$weathered-white: #e5e3d9;
$soft-secret: #d5d3cb;

$white-smoke: #f5f5f5;

$brown: #a47d5e;
$another-brown: #c8a593;
$mid-brown: #aa8669;
$light-brown: #d8bba3;
$lightest-brown: #dfc691;
