//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.heading1 {
  color: $white;
  font-family: $font-playfairdisplay;
  font-size: 92px;
  font-weight: 700;
  letter-spacing: 7px;
  text-shadow: 0px 1px 0 $black;
}

.heading2 {
  color: $grey;
  font-family: $font-alegreya;
  font-weight: 700;
  font-size: 50px;
}

.heading3 {
  font-size: 25px;
  font-weight: 700;
}

.heading4 {
  color: $lightest-brown;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 8px;
  line-height: 1;
}

.heading5 {
  color: $white;
  font-weight: 700;
}

.subheading1 {
  color: $white;
  font-family: $font-proxima-nova;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.5;
  text-shadow: 0px 1px 0 $black;
}

.subheading2 {
  color: $brown;
  font-family: $font-alegreya;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 3px;
}

.subheading3 {
  @extend .subheading2;

  font-size: 18px;
  letter-spacing: 1px;
}

.subheading4 {
  @extend .subheading2;

  color: $another-grey;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.subheading5 {
  font-family: $font-proxima-nova;
  font-size: 18px;
}

.text1 {
  font-family: $font-proxima-nova;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.text3 {
  color: $mid-brown;
  font-family: $font-scriptina;
  font-size: 26px;
}

@include respond-to("md-down") {
  .heading2 {
    font-size: 35px;
  }
  
  .heading4 {
    font-size: 70px;
  }
}